<!DOCTYPE html>
<html>
<head><title>Dashboard</title></head>
<body>
    <h1>Halo, <%= user.username %>#<%= user.discriminator %></h1>
    <h2>Server yang bisa kamu kelola:</h2>
    <ul>
        <% guilds.forEach(guild => { %>
            <li><%= guild.name %> (ID: <%= guild.id %>)</li>
        <% }) %>
    </ul>
    <a href="/logout">Logout</a>
</body>
</html>
