<!DOCTYPE html>
<html>
<head><title>Bot Dashboard</title></head>
<body>
    <h1>Selamat datang di dashboard bot</h1>
    <% if (user) { %>
        <p>Login sebagai: <%= user.username %>#<%= user.discriminator %></p>
        <a href="/dashboard">Dashboard</a> |
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/login">Login dengan Discord</a>
    <% } %>
</body>
</html>
